/* Form */

.form-container {
    width: 500px;
    margin: auto;
    padding: 35px
}

.form-title {
    margin-bottom: 22px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input {
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-btn {
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #e6a684;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    margin:  10px 0px;
    border-radius: 15px;
}

/* /Form */