* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f8f6f6;
}

a {
    color: white;
    text-decoration: none;
}

.contaider {
    width: 90%;
    margin: auto;
}

/* Navigation */
.header {
    background-color: #f0a274;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    height: 60px;
    width: 100%;
    align-items: center;
    z-index: 10;
}

.nav-main {
    width: 90%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 20px;
}

.nav-main a:hover {
    color: #e0c7b8;
}

/* /Navigation */